<h1><%= @performance_benchmark.name %></h1>
<pre><%= @performance_benchmark.data %></pre>
<%= link_to 'Export CSV', export_performance_benchmark_path(@performance_benchmark, format: :csv), class: 'btn btn-primary' %>
<%= link_to 'Export JSON', export_performance_benchmark_path(@performance_benchmark, format: :json), class: 'btn btn-secondary' %>
<%= link_to 'Back', performance_benchmarks_path, class: 'btn btn-secondary' %>