<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Linux Bench Hub" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= favicon_link_tag asset_path('logo.png') %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "navbar_custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
      <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <%= image_tag 'wordmark.png', width: 300, height: 52.5, class: 'd-inline-block align-top me-2', alt: 'LinuxBenchHub' %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Left-aligned navigation links -->
        <ul class="navbar-nav me-auto">
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(performance_benchmarks_path) %>">
             <%= link_to 'Benchmarks', performance_benchmarks_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(about_path) %>">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>
        </ul>
        
        <!-- Right-aligned buttons -->
        <div class="d-flex">
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger me-2' %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-outline-primary me-2' %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
        
        <!-- Conditionally display the search form only on Benchmarks pages -->
        <% if controller_name == 'performance_benchmarks' %>
          <form class="d-flex ms-3" action="<%= performance_benchmarks_path %>" method="get">
            <input class="form-control me-2" type="search" name="query" placeholder="Search Benchmarks" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        <% end %>
      </div>
    </nav>


    <div class="container mt-5 pt-4">
      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>