<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Linux Bench Hub" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= favicon_link_tag asset_path('logo.png') %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag 'logo.png', width: 50, height: 50, class: 'd-inline-block align-top mr-2', alt: 'LinuxBenchHub' %>
      <span><h1>LinuxBenchHub</h1></span>
    <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="benchmarkDropdown" role="button" 
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Benchmarks <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="benchmarkDropdown">
               <%= link_to 'Debian', debian_performance_benchmarks_path, class: 'dropdown-item' %>
               <%= link_to 'Fedora', fedora_performance_benchmarks_path, class: 'dropdown-item' %>
               <%= link_to 'Ubuntu', ubuntu_performance_benchmarks_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'All Benchmarks', performance_benchmarks_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item <%= 'active' if current_page?(about_path) %>">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 d-flex align-items-center">
          <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container mt-5 pt-4">
      <%= yield %>
    </div>
  </body>
</html>