<%
content_for :title, "#{@meta[:name]} #{@meta[:version]} benchmarks: LinuxBenchHub"
content_for :meta_description, "Phoronix Test Suite #{@meta[:pts]} results for #{@meta[:name]} #{@meta[:version]}."
%>
<main>
  <%= link_to "← OVERVIEW", showcase_path, class: "back-link" %>

  <%= render "showcase/distro_hero", distro: @distro, name: @meta[:name], version: @meta[:version], pts: @meta[:pts], intro: @parsed[:intro] %>

  <nav class="section-nav" aria-label="Benchmarks">
    <a href="#system-information">System</a>
    <% @parsed[:sections].each do |s| %>
      <a href="#<%= s[:anchor] %>"><%= s[:name].sub(/\s+Benchmark\z/i, "") %></a>
    <% end %>
  </nav>

  <%= render "showcase/facet_divider" %>

  <%= render "showcase/system_info_card", hardware: @parsed[:hardware], software: @parsed[:software] %>

  <% @parsed[:sections].each do |section| %>
    <section class="bench-section" id="<%= section[:anchor] %>">
      <%= render "showcase/facet_divider" %>
      <h2 class="bench-section-heading"><%= section[:name] %></h2>
      <% section[:tests].each do |test| %>
        <%= render "showcase/benchmark_card", test: test %>
      <% end %>
    </section>
  <% end %>
</main>
